<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitone.saldometro.controller" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.bitone.saldometro.controller.MainActivity" />

        <activity
            android:name=".ElegirTarjetaActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_elegir_tarjeta" >
        </activity>
        <activity
            android:name=".AgregarSaldoActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_agregar_saldo" >
        </activity>
        <activity
            android:name=".MarcarViajeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_marcar_viaje" >
        </activity>
    </application>

</manifest>
